.track {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.track img {
    max-width: 100%;
    border-radius: 4px;
}

.trackInfo {
    margin-top: 10px;
    text-align: center;
}

.track button {
    margin-top: 10px;
    background-color: #7e57c2;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
}

.track button:hover {
    background-color: #673ab7;
}

@media screen and (max-width: 768px) {
    .track {
        padding: 5px;
    }

    .track img {
        max-width: 80%;
    }

    .trackInfo {
        margin-top: 5px;
        font-size: 0.8rem;
    }

    .track button {
        padding: 5px 10px;
    }
}