.searchResults {
    margin-top: 20px;
}

.searchResults h2 {
    color: #7e57c2;
}

.searchResults ul {
    list-style-type: none;
    padding: 0;
}

.searchResults li {
    margin-bottom: 10px;
}

.searchResults button {
    background-color: #7e57c2;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.searchResults button:hover {
    background-color: #673ab7;
}

@media screen and (max-width: 768px) {
    .searchResults {
        margin-top: 10px;
    }

    .searchResults h2 {
        font-size: 1rem;
    }

    .searchResults ul {
        padding-left: 0;
    }

    .searchResults li {
        margin-bottom: 5px;
    }

    .searchResults button {
        padding: 5px 10px;
    }
}