.search-results {
    margin-top: 20px;
}

.search-results h2 {
    color: #7e57c2;
    /* Purple header */
}

.search-results ul {
    list-style-type: none;
    padding: 0;
}

.search-results li {
    margin-bottom: 10px;
}

.search-results button {
    background-color: #7e57c2;
    /* Purple button */
    color: #ffffff;
    /* White text */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.search-results button:hover {
    background-color: #673ab7;
    /* Darker purple on hover */
}